body{margin: 20px 10px 20px 10px; font: 17.5px Courier, monospace;}

header, nav, main{margin-bottom: 100px;}

nav{line-height: 45px;}
main{max-width: 750px;}

section{margin-bottom: 75px;}
section.scaffal{width: 75%;}

h1{font: 17.5px Courier, monospace; font-weight: bolder;}

a{text-decoration: none; color: inherit;}
a:hover{opacity: 20%;}

img{width: 100%;}











section.grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, 1fr);
}