body{margin: 20px 10px 20px 10px; font: 17.5px Courier, monospace;}

header, nav, main{margin-bottom: 100px;}

main{max-width: 750px;}

section{margin-bottom: 75px;}
section.scaffal{width: 75%;}

h1{font: 17.5px Courier, monospace; font-weight: bolder;}

a{text-decoration: none; color: inherit;}
nav a{margin-bottom: 45px;}
a:hover{opacity: 20%;}

img{width: 100%;}
